<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro P&uacute;blico</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="menu home">
        <!-- Enlace simulacro para el logo-->
		<a href="#" class="logo">Registro <br> Publico</a>

        <div class="in-flex">
            <nav class="navbar">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>

				<!-- Lista de enlaces -->
				<ul>
                    <li><a class="active" href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href=>Login</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
			</nav>
        </div>

    </header>
    <section class="registro">
        <div>
            <h1>
                Seguridad jur&iacute;dica y transparencia en asuntos relacionados con bienes inmuebles y otros derechos.
            </h1>
        </div>
    </section>
    <section class="about">
        <h2>Sobre Nosotros</h2>
        <p style="padding:20px 10px;">El Registro P&uacute;blico tiene por objeto la inscripci&oacute;n y anotaci&oacute;n de los actos o negocios jur&iacute;dicos relativos al dominio y dem&aacute;s derechos reales que afecten los bienes inmuebles.</p>
        <dir class="image">
            <img src="/Imagenes/group-businesspeople-analyzing-graph-workplace.jpg" alt="">
        </dir>
    </section>
    <section class="tramites" style="padding:25px 50px;">
        <h2>Tr&aacute;mites</h2>
        <ul class="tram">
                <li class="serv">Autorizaci&oacute;n</li>
                <li class="serv">Cancelacion</li>
                <li class="serv">Registro de Acta</li>
                <li class="serv">Certificaci&oacute;n</li>
        </ul>
    </section>
    <footer>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <p>&copy; All rights reserved.</p>
    </footer>
</body>
</html>