<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Perfil de Usuario</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header class="menu home">
			<!-- Enlace simulacro para el logo-->
			<a href="#" class="logo"
				>Registro <br />
				Publico</a
			>

			<div class="in-flex">
				<nav class="navbar">
					<input type="checkbox" id="check" />
					<label for="check" class="checkbtn">
						<i class="fas fa-bars"></i>
					</label>

					<!-- Lista de enlaces -->
					<ul>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Nosotros</a></li>
						<li><a href="#">Perfil</a></li>
						<li><a href="#">Cerrar Sesi&oacute;n</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<br />

		<section class="perfil">
			<div class="text-center">
				<i class="fa fa-address-card fa-3x" aria-hidden="true"></i>
				<h2>Perfil de Usuario</h2>
			</div>
			<div class="user-info">
				<br />
				<p><strong>Nombre:</strong> Juan Perez</p>
				<br />
				<p>
					<strong>Correo Electr&oacute;nico:</strong> juan.perez@example.com
				</p>
				<br />
				<p><strong>Tel&eacute;fono:</strong> +123456789</p>
				<br />
				<p><strong>Direcci&oacute;n:</strong> Calle 123, Ciudad, Pa&iacute;s</p>
				<br /><br />
                <p><strong>Fecha de Cita para Renovaci&oacute;n:</strong> mi&eacute;rcoles, 13 de marzo de 2024</p>
				<br />
			</div>
		</section>

		<br />

		<!-- Div cuadrado -->
		<div class="cuadrado"></div>

		<br />

		<footer>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Nosotros</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p>&copy; All rights reserved.</p>
		</footer>
	</body>
</html>
